.calorie-tracker-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fff; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

h2 {
  color: #333; 
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 1px; 
  text-transform: uppercase;
}

.calorie-tracker-container p {
  font-size: 18px;
  color: #555; 
  font-weight: 400;
  margin-bottom: 30px;
  background: linear-gradient(135deg, #00bcd4, #0097a7); 
  -webkit-background-clip: text;
  color: transparent; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); 
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

input {
  width: 100%;
  padding: 15px;
  margin: 12px 0;
  border: 2px solid #444;
  background-color: transparent;
  color: #333;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  text-align: center; 
  box-sizing: border-box;
  min-height: 50px; 
  height: 50px; 
}

input:focus {
  border-color: #00bcd4;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 188, 212, 0.5); 
}

button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 2px solid #444;
  background-color: #00bcd4;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase; 
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-sizing: border-box;
  min-height: 50px; 
  height: 50px; 
}

.calorie-summary {
  margin-top: 20px;
}

.calorie-summary p {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.calorie-summary span {
  font-weight: bold;
  color: #00bcd4;
}

label {
  font-size: 16px;
  color: #333; 
  display: block; 
  margin-bottom: 5px; 
  text-align: left; 
  font-weight: 600; 
}