.calorie-tracker-container {
  padding: 40px 20px;
  text-align: center;
}

.calorie-tracker-container h2 {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.calorie-tracker-progress {
  width: 100%;
  background-color: #e0e0e0;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.calorie-tracker-progress .calories {
  background-color: #ff5733;
  height: 100%;
  border-radius: 10px;
}

.calorie-tracker-container p {
  font-size: 16px;
  color: #333;
}
